<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DeveloperName</key>
	<string>Royal Apps</string>
	<key>ApplicationDescription</key>
	<string>Royal TSX provides easy and secure access to your remote systems. It&apos;s the perfect tool for server admins, system engineers, developers, and IT-focused information workers using macOS, who constantly need to access remote systems with different protocols.</string>
	<key>Website</key>
	<string>https://www.royalapps.com/ts/mac</string>
	<key>Connections</key>
	<array>
		<dict>
			<key>IsIncoming</key>
			<false/>
			<key>Host</key>
			<string>*</string>
			<key>NetworkProtocol</key>
			<string>TCP</string>
			<key>Purpose</key>
			<string>Because the main reason to use Royal TSX is to be able to access remote servers and devices, any outgoing or incoming connection to/from one of your devices needs to be allowed to be able to access that device.</string>
			<key>DenyConsequences</key>
			<string>If you deny this connection, Royal TSX won&apos;t be able to connect to your servers and devices.</string>
		</dict>
		<dict>
			<key>IsIncoming</key>
			<true/>
			<key>Host</key>
			<string>*</string>
			<key>NetworkProtocol</key>
			<string>TCP</string>
			<key>Purpose</key>
			<string>Because the main reason to use Royal TSX is to be able to access remote servers and devices, any outgoing or incoming connection to/from one of your devices needs to be allowed to be able to access that device.</string>
			<key>DenyConsequences</key>
			<string>If you deny this connection, Royal TSX won&apos;t be able to connect to your servers and devices.</string>
		</dict>
		<dict>
			<key>IsIncoming</key>
			<false/>
			<key>Host</key>
			<string>royalapps.com,royalapplications.com,www.royalapps.com,www.royalapplications.com</string>
			<key>NetworkProtocol</key>
			<string>TCP</string>
			<key>Purpose</key>
			<string>Royal TSX checks for content updates for our built-in &apos;News&apos; page on this server.</string>
			<key>DenyConsequences</key>
			<string>If you deny this connection, Royal TSX can&apos;t check for content updates for the &apos;News&apos; page and can&apos;t automatically show it if important updates are available.</string>
		</dict>
		<dict>
			<key>IsIncoming</key>
			<false/>
			<key>Host</key>
			<string>royaltsx-v6.royalapps.com,royaltsx-v6.royalapplications.com,download.royalapps.com,download2.royalapps.com</string>
			<key>NetworkProtocol</key>
			<string>TCP</string>
			<key>Purpose</key>
			<string>Royal TSX checks for updates on this server. It&apos;s also required for submitting crash reports.</string>
			<key>DenyConsequences</key>
			<string>If you deny this connection, Royal TSX can&apos;t check for updates and submitting crash reports will not work.</string>
		</dict>
		<dict>
			<key>IsIncoming</key>
			<false/>
			<key>Host</key>
			<string>*.aptabase.com</string>
			<key>NetworkProtocol</key>
			<string>TCP</string>
			<key>Purpose</key>
			<string>If enabled, Royal TSX sends anonymous usage statistics to this server. This helps us improve the app by focusing our development efforts in areas of high demand.</string>
			<key>DenyConsequences</key>
			<string>If you deny this connection, Royal TSX will not be able to send anonymous usage statistics. Instead of denying the connection, you can completely disable the feature under &apos;Settings - General - Updates&apos;.</string>
		</dict>
		<dict>
			<key>IsIncoming</key>
			<false/>
			<key>Host</key>
			<string>admin.royalapps.com,admin.royalapplications.com</string>
			<key>NetworkProtocol</key>
			<string>TCP</string>
			<key>Purpose</key>
			<string>Using this server, Royal TSX checks your software maintenance expiration date and if the software maintenance of your license is about to expire, we will notify you about upgrade offers directly in the app.</string>
			<key>DenyConsequences</key>
			<string>If you deny this connection, Royal TSX will not be able to check your license information and can&apos;t provide upgrade offers.</string>
		</dict>
	</array>
	<key>Services</key>
	<array/>
</dict>
</plist>
