/* GENERAL */

body {
	font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Verdana, Arial, sans-serif;
	font-size: 13px;
	color: #000000;
	margin: 0;
	padding: 0;
	cursor: default;
	height: 100%;
	overflow: hidden;

	/* Only comment in for testing in browser */
	/* background-color: #105210; */
}

a {
	color: #007AFF;
	text-decoration: none;
}

.clearBoth {
	clear: both;
}

.hidden {
	display: none;
}

.ts_templates {
	display: none;
}

/* BUTTON */

.ts_button {
	display: block;
	height: 21px;
	cursor: pointer;
	user-select: none;
	-webkit-user-select: none;
}

.ts_button .ts_button_content {
	display: block;
	height: 100%;
	line-height: 21px;
	float: left;
	padding: 0px 9px 0px 9px;
	color: #ffffff;
	font-size: 10px;
	font-weight: bold;
	min-width: 56px;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.4);
    border-radius: 10px
}

.ts_button .ts_button_content.ts_button_content_accent {
	background-color: #007AFF;
}


/* TOOLBAR */

.ts_toolbar {
	display: block;
	width: 100%;
	height: 44px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	user-select: none;
	-webkit-user-select: none;
}

.ts_toolbar_button {
	cursor: pointer;
	float: left;
}

.ts_toolbar_button_active {
	cursor: pointer;
	float: left;
}

.ts_toolbar_button_icon {
	display: block;
	width: 43px;
	height: 43px;
	margin-left: 4px;
	float: left;
}

.ts_toolbar_button_label {
	display: block;
	height: 43px;
	line-height: 43px;
	margin-left: 4px;
	float: left;
	color: #626262;
}

.ts_toolbar_button_active .ts_toolbar_button_label {
	color: #444444 !important;
}

.ts_toolbar_button_installed {
	margin-right: 25px;
}

.ts_toolbar_button_installed .ts_toolbar_button_icon {
	background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25.99 20.99"%3E%3Cdefs%3E%3Cstyle%3E.fill%7Bfill:%234f4f4f;fill-rule:evenodd;%7D%3C/style%3E%3C/defs%3E%3Cg%3E%3Cg%3E%3Cpath class="fill" d="M0,10.49,5.2,5.24l5.2,5.25L20.79,0,26,5.25,10.4,21Z"/%3E%3C/g%3E%3C/g%3E%3C/svg%3E');
	background-size: 27px 21px;
	background-position: center;
	background-repeat: no-repeat;
}

.ts_toolbar_button_installed.ts_toolbar_button_active .ts_toolbar_button_icon {
	/* background-image is set via JS */
	background-size: 27px 21px;
	background-position: center;
	background-repeat: no-repeat;
}

.ts_toolbar_button_available .ts_toolbar_button_icon {
	background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 20"%3E%3Cdefs%3E%3Cstyle%3E.fill%7Bfill:%234f4f4f;fill-rule:evenodd;%7D%3C/style%3E%3C/defs%3E%3Cg%3E%3Cg%3E%3Cpath class="fill" d="M24.64,19.14a2,2,0,0,1-2.8.51L13.55,14a2,2,0,0,1-.87-1.72,7.19,7.19,0,0,1-4,2.18,7.31,7.31,0,0,1-5.49-1.17A7.24,7.24,0,0,1,1.3,3.13,7.38,7.38,0,0,1,11.5,1.29a7.26,7.26,0,0,1,2.42,9.18,2,2,0,0,1,1.93.2l8.28,5.69A2,2,0,0,1,24.64,19.14ZM12.36,6.36A5.07,5.07,0,0,0,10.24,3.1,5.15,5.15,0,0,0,3.13,4.38a5,5,0,0,0,1.29,7.06,5.15,5.15,0,0,0,7.12-1.28A5.06,5.06,0,0,0,12.36,6.36Z"/%3E%3C/g%3E%3C/g%3E%3C/svg%3E');
	background-size: 25px 20px;
	background-position: center;
	background-repeat: no-repeat;
}

.ts_toolbar_button_available.ts_toolbar_button_active .ts_toolbar_button_icon {
	/* background-image is set via JS */
	background-size: 25px 20px;
	background-position: center;
	background-repeat: no-repeat;
}

.ts_toolbar_progress {
	display: none;
	float: right;
	margin-right: 15px;
	width: 16px;
	height: 100%;
	/* background-image is set via JS */
	background-size: 16px 16px;
	background-repeat: no-repeat;
	background-position: 100% 50%;
}

.ts_toolbar_warning {
	display: none;
	float: right;
	margin-right: 15px;
	width: 16px;
	height: 100%;
	cursor: pointer;
	background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15.98 15"%3E%3Cdefs%3E%3Cstyle%3E.fill%7Bfill:%234f4f4f;%7D%3C/style%3E%3C/defs%3E%3Cg%3E%3Cg%3E%3Cpath class="fill" d="M15.81,13,9.07.67a1.21,1.21,0,0,0-2.16,0L.17,13a1.36,1.36,0,0,0,1.09,2H14.73A1.36,1.36,0,0,0,15.81,13ZM9,12.6a.4.4,0,0,1-.4.4H7.38a.4.4,0,0,1-.4-.4V11.4a.4.4,0,0,1,.4-.4h1.2a.4.4,0,0,1,.4.4Zm0-3a.4.4,0,0,1-.4.4H7.38A.4.4,0,0,1,7,9.6V4.4a.4.4,0,0,1,.4-.4h1.2a.4.4,0,0,1,.4.4Z"/%3E%3C/g%3E%3C/g%3E%3C/svg%3E');
	background-size: 16px 16px;
	background-repeat: no-repeat;
	background-position: 100% 50%;
}


/* CONTENT */

.ts_content {
	margin: 0;
	padding: 0;

	/* VIEW HEIGHT - TOOLBAR HEIGHT */
	height: calc(100vh - 44px);

	overflow-y: auto;
	overflow-x: hidden;

	/* FOR TESTING ONLY: */
	/* background: green; */
}

.ts_content_spacer {
	display: block;
	height: 23px;
	user-select: none;
	-webkit-user-select: none;
}


/* UPDATES BAR */

.ts_updates_bar {
	display: block;
	height: 0;
	overflow: hidden;
	user-select: none;
	-webkit-user-select: none;
}

.ts_updates_bar_counter {
	display: block;
	line-height: 23px;
	background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 42 50.02"%3E%3Cdefs%3E%3Cstyle%3E.fill%7Bfill:%234f4f4f;%7D%3C/style%3E%3C/defs%3E%3Cg%3E%3Cg%3E%3Cpath class="fill" d="M32.52,8H23V33.8l4-4a2,2,0,0,1,2.77,0l.05,0a2,2,0,0,1,0,2.78L22.51,40a2,2,0,0,1-1.12.64h0a1.87,1.87,0,0,1-.34,0H21a1.87,1.87,0,0,1-.34,0h0A2,2,0,0,1,19.49,40l-7.35-7.36a2,2,0,0,1,0-2.78l0,0a2,2,0,0,1,2.77,0l4,4V8H9.48A9.51,9.51,0,0,0,0,17.5v23A9.51,9.51,0,0,0,9.48,50h23A9.51,9.51,0,0,0,42,40.54v-23A9.51,9.51,0,0,0,32.52,8Z"/%3E%3Cpath class="fill" d="M21,0H21a2,2,0,0,1,2,2V8a0,0,0,0,1,0,0H19a0,0,0,0,1,0,0V2a2,2,0,0,1,2-2Z"/%3E%3C/g%3E%3C/g%3E%3C/svg%3E');
	background-size: 23px 23px;
	background-repeat: no-repeat;
	background-position: left;
	margin: 0 17px 15px 17px;
	padding-left: 40px;
	padding-top: 2px;
	color: #474747;
	float: left;
}

.ts_updates_bar_updateall_button {
	display: none;
	float: right;
}


/* PLUGINS */

.ts_plugins {
	display: none;
}

.ts_no_plugins_installed {
	color: #474747;
	padding: 0 12px 0 12px;
}

.ts_no_plugins_available {
	color: #474747;
	padding: 0 12px 0 12px;
}

.ts_plugin_template {
	display: none;
}

.ts_plugin {
	width: 100%;
	margin: 0 auto 14px auto;
}

.ts_plugin_top {
	display: block;
	width: 100%;
	height: 10px;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	background: rgba(255, 255, 255, 0.5);
}

.ts_plugin_content {
	display: block;
	padding: 18px 18px 26px 18px;
	background: rgba(255, 255, 255, 0.5);
}

.ts_plugin_content_left {
	display: block;
	width: 48px;
	height: 48px;
	float: left;
	margin-left: 11px;
	background-size: 48px 48px;
	background-repeat: no-repeat;
}

.ts_plugin_content_center {
	display: block;
	height: 48px;
	margin-left: 25px;
	float: left;
}

.ts_plugin_content_center h1 {
	margin: 0;
	padding: 0;
	font-size: 16px;
	margin-top: 2px;
	margin-bottom: 8px;
	font-weight: normal;
}

.ts_plugin_content_center p {
	margin: 0;
	padding: 0;
	font-size: 11px;
	color: #474747;
}

.ts_plugin_content_right {
	display: block;
	height: 48px;
	float: right;
}

.ts_plugin_content_right p {
	margin: 0 0 8px 0;
	padding: 0;
	font-size: 11px;
	color: #474747;
	text-align: right;
}

.ts_plugin_content_right .ts_button {
	float: right;
}

.ts_plugin_content_extended {
	display: block;
	width: 100%;
	background: rgba(255, 255, 255, 0.5);
}

.ts_plugin_content_extended_content {
	display: none;
	padding: 0 18px 15px 18px;
}

.ts_plugin_content_extended_content p {
	margin: 0;
	padding: 0;
	font-size: 11px;
	color: #474747;
}

.ts_plugin_content_extended_content ul {
	margin: 5px 0 0 20px;
	padding: 0;
}

.ts_plugin_content_extended_content ul li {

}

.ts_plugin_content_extended_content_bottom {
	margin-top: 18px;
}

.ts_plugin_content_extended_content_bottom_left {
	float: left;
	text-align: left;
	line-height: 14px;
}

.ts_plugin_content_extended_content_bottom_right {
	float: right;
	text-align: right;
	line-height: 14px;
}

.ts_plugin_bottom_left {
	display: block;
	float: left;
	width: calc(50% - 36px); /* 36px = .ts_plugin_bottom_button.width / 2 */
	height: 1px;
	margin: 0;
	background: rgba(0, 0, 0, 0.07);
}

.ts_plugin_bottom_right {
	display: block;
	float: right;
	width: calc(50% - 36px); /* 36px = .ts_plugin_bottom_button.width / 2 */
	height: 1px;
	margin: 0;
	background: rgba(0, 0, 0, 0.07);
}

.ts_plugin_bottom_button {
	display: block;
	width: 72px;
	height: 15px;
	font-size: 11px;
	color: #474747;
	margin-left: auto;
	margin-right: auto;
	margin-top: -1px;
	text-align: center;
	cursor: pointer;
	background: rgba(255, 255, 255, 0.5);
	border-radius: 0px 0px 3px 3px;
	border-left: 1px solid rgba(0, 0, 0, 0.1);
	border-right: 1px solid rgba(0, 0, 0, 0.1);
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	user-select: none;
	-webkit-user-select: none;
}

.ts_plugins_footer_container .ts_button {
	float: left;
	margin: 15px 0 18px 18px;
}

@media (prefers-color-scheme: dark) {
	body {
		color: #ffffff;
	}
	
	.ts_button .ts_button_content {
		background-color: rgba(255, 255, 255, 0.25);
	}
	
	.ts_toolbar {
		border-bottom: 1px solid rgba(255, 255, 255, 0.1);
	}
	
	.ts_toolbar_button_label {
		color: #9e9e9e;
	}
	
	.ts_toolbar_button_active .ts_toolbar_button_label {
		color: #ffffff !important;
	}
	
	.ts_toolbar_button_installed .ts_toolbar_button_icon {
		background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25.99 20.99"%3E%3Cdefs%3E%3Cstyle%3E.fill%7Bfill:%239e9e9e;fill-rule:evenodd;%7D%3C/style%3E%3C/defs%3E%3Cg%3E%3Cg%3E%3Cpath class="fill" d="M0,10.49,5.2,5.24l5.2,5.25L20.79,0,26,5.25,10.4,21Z"/%3E%3C/g%3E%3C/g%3E%3C/svg%3E');
	}
	
	.ts_toolbar_button_available .ts_toolbar_button_icon {
		background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 20"%3E%3Cdefs%3E%3Cstyle%3E.fill%7Bfill:%239e9e9e;fill-rule:evenodd;%7D%3C/style%3E%3C/defs%3E%3Cg%3E%3Cg%3E%3Cpath class="fill" d="M24.64,19.14a2,2,0,0,1-2.8.51L13.55,14a2,2,0,0,1-.87-1.72,7.19,7.19,0,0,1-4,2.18,7.31,7.31,0,0,1-5.49-1.17A7.24,7.24,0,0,1,1.3,3.13,7.38,7.38,0,0,1,11.5,1.29a7.26,7.26,0,0,1,2.42,9.18,2,2,0,0,1,1.93.2l8.28,5.69A2,2,0,0,1,24.64,19.14ZM12.36,6.36A5.07,5.07,0,0,0,10.24,3.1,5.15,5.15,0,0,0,3.13,4.38a5,5,0,0,0,1.29,7.06,5.15,5.15,0,0,0,7.12-1.28A5.06,5.06,0,0,0,12.36,6.36Z"/%3E%3C/g%3E%3C/g%3E%3C/svg%3E');
	}
	
	.ts_toolbar_warning {
		background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15.98 15"%3E%3Cdefs%3E%3Cstyle%3E.fill%7Bfill:%239e9e9e;%7D%3C/style%3E%3C/defs%3E%3Cg%3E%3Cg%3E%3Cpath class="fill" d="M15.81,13,9.07.67a1.21,1.21,0,0,0-2.16,0L.17,13a1.36,1.36,0,0,0,1.09,2H14.73A1.36,1.36,0,0,0,15.81,13ZM9,12.6a.4.4,0,0,1-.4.4H7.38a.4.4,0,0,1-.4-.4V11.4a.4.4,0,0,1,.4-.4h1.2a.4.4,0,0,1,.4.4Zm0-3a.4.4,0,0,1-.4.4H7.38A.4.4,0,0,1,7,9.6V4.4a.4.4,0,0,1,.4-.4h1.2a.4.4,0,0,1,.4.4Z"/%3E%3C/g%3E%3C/g%3E%3C/svg%3E');
	}
	
	.ts_updates_bar_counter {
		background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 42 50.02"%3E%3Cdefs%3E%3Cstyle%3E.fill%7Bfill:%23cacaca;%7D%3C/style%3E%3C/defs%3E%3Cg%3E%3Cg%3E%3Cpath class="fill" d="M32.52,8H23V33.8l4-4a2,2,0,0,1,2.77,0l.05,0a2,2,0,0,1,0,2.78L22.51,40a2,2,0,0,1-1.12.64h0a1.87,1.87,0,0,1-.34,0H21a1.87,1.87,0,0,1-.34,0h0A2,2,0,0,1,19.49,40l-7.35-7.36a2,2,0,0,1,0-2.78l0,0a2,2,0,0,1,2.77,0l4,4V8H9.48A9.51,9.51,0,0,0,0,17.5v23A9.51,9.51,0,0,0,9.48,50h23A9.51,9.51,0,0,0,42,40.54v-23A9.51,9.51,0,0,0,32.52,8Z"/%3E%3Cpath class="fill" d="M21,0H21a2,2,0,0,1,2,2V8a0,0,0,0,1,0,0H19a0,0,0,0,1,0,0V2a2,2,0,0,1,2-2Z"/%3E%3C/g%3E%3C/g%3E%3C/svg%3E');
		color: #cacaca;
	}
	
	.ts_no_plugins_installed {
		color: #8e8e8e;
	}
	
	.ts_no_plugins_available {
		color: #8e8e8e;
	}
	
	.ts_plugin_top {
		background: rgba(255, 255, 255, 0.115);
	}
	
	.ts_plugin_content {
		background: rgba(255, 255, 255, 0.115);
	}
	
	.ts_plugin_content_center p {
		color: #e0e0e0;
	}
	
	.ts_plugin_content_right p {
		color: #cacaca;
	}
	
	.ts_plugin_content_extended {
		background: rgba(255, 255, 255, 0.115);
	}
	
	.ts_plugin_content_extended_content p {
		color: #e0e0e0;
	}
	
	.ts_plugin_bottom_button {
		color: #cacaca;
		background: rgba(255, 255, 255, 0.115);
	}
}
